#your_container{
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  margin: 0;
}
html {
  height: 100%;
}
/* ヘッダー部分 */
#bms_chat_header {
  padding: 6px;
  font-size: 16px;
  height: 34px;
  background: #ddd;
  border: 1px solid #ccc;
}
#bms_messages {
  overflow: auto;
  height:100%;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #eee;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset;
}
  /* メッセージ全般 */
  .bms_message {
      margin: 0px;
      padding: 0 14px;
      font-size: 10px;
      word-wrap: break-word;
      white-space: normal;
  }
  .bms_message_box{
    margin-top: 15px;
    max-width: 100%;
    font-size: 10px;
}

    .bms_message_content{
        padding: 15px;
    }

/* メッセージ１（左側） */
.bms_left {
    float: left;
    line-height: 1.3em;
}

    .bms_left .bms_message_box {
        color: #333;
        background: #fff;
        border: 2px solid #63138e;
        border-radius: 30px 30px 30px 0px;
        margin-right: 50px;
    }

/* メッセージ2 */
.bms_right {
    float: right;
    line-height: 1.3em;
}

    .bms_right .bms_message_box {
        color: #fff;
        background: #71138ed7;
        border: 2px solid #5f138ee1;
        border-radius: 30px 30px 0px 30px;
        margin-left: 50px;
    }
  /* メッセージ1 */
  .bms_left {
      float: left;
      line-height: 1.3em;
  }
  /* メッセージ2*/
  .bms_right {
      float: right;
      line-height: 1.3em;
  }
  .bms_clear {
      clear: both;

  }

/* テキストエリア、送信ボタン */
#bms_send {
  background-color:#eee;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 48px;
  padding: 4px;
  position: sticky;
  bottom: 0;
}
  #bms_send_message{
      width: calc(100% - 75px);
      line-height: 16px;
      height: 48px;
      padding: 14px 6px 0px 6px;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: left;
      box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
      box-sizing: border-box;

    }
  #bms_send_btn {
      width: 72px;
      height: 48px;
      font-size: 16px;
      line-height: 3em;
      float: right;
      color: #fff;
      font-weight: bold;
      background: #bcbcbc;
      text-align: center;
      border: 1px solid #bbb;
      border-radius: 4px;
      box-sizing: border-box;
    }
  #bms_send_btn:hover {
      background: #13178E; /*マウスポインタを当てた時に色が変わる*/
      cursor: pointer;
  }